<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css"/>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <script src='https://developer.here.com/javascript/src/iframeheight.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>Ramni</title>
</head>
<body>

<div class="container-sm">
    <div class="row mt-5" >

        <div style="width: 640px; height: 480px" id="map" class="col-8"></div>
        <div  class="col-4" id="app">
            <div v-if="editMode || adminMode">
                <h1>Code: {{ gameSN }}</h1>
                <h2>Name: {{ game_name}}</h2>
                <h4>{{ game_description}}</h4>
            </div>

            <div v-if="editMode">

                <task-item
                        v-for="task in current_game.tasks"
                        v-bind:task="task"
                        v-bind:key="task.id"
                ></task-item>

                <div>
                    <task-item-editable
                            v-for="(task,idx) in tasks"
                            v-bind:task="task"
                            v-bind:tdx="idx"
                            v-bind:key="idx"
                            v-on:click="">
                    </task-item-editable>
                </div>
                <div class="btn-group d-flex">
                  <button class="btn btn-primary" onclick="removeLastTask()">drop last</button>
                  <button class="btn btn-primary" onclick="startQuest()">Start</button>
                </div>

            </div>

            <div v-if="adminMode">
                <player-item
                        v-for="player in current_game.players"
                        v-bind:tasks="current_game.tasks"
                        v-bind:player="player"
                        v-bind:key="player.id"
                ></player-item>

                <task-item
                        v-for="task in current_game.tasks"
                        v-bind:task="task"
                        v-bind:key="task.id"
                ></task-item>

            </div>
            <div v-if="!adminMode && !editMode">
              <input class="form-control" v-model="game_name" placeholder="name">
              <input class="form-control" v-model="game_description" placeholder="description">
              <div class="btn-group d-flex">
                <button class="btn btn-primary" onclick="createGame()">Создать игру</button>
                <button class="btn btn-primary" onclick="adminMode()">Admin</button>
              </div>
              <input class="form-control" v-model="gameSN" placeholder="code">
            </div>


        </div>
    </div>
</div>


<script>
    /**
     * Moves the map to display over Berlin
     *
     * @param  {H.Map} map      A HERE Map instance within the application
     */
    function moveMapToBerlin(map) {
        map.setCenter({lat: 55.983069, lng: 37.209284});
        map.setZoom(14);
    }

    /**
     * Boilerplate map initialization code starts below:
     */

//Step 1: initialize communication with the platform
// In your own code, replace variable window.apikey with your own apikey
    var platform = new H.service.Platform({
        apikey: "SJw-7_AV2XKhKZncs1-pMOIXcyT_T7B_roQOeErHAlU"
    });
    var defaultLayers = platform.createDefaultLayers();

    //Step 2: initialize a map - this map is centered over Europe
    var map = new H.Map(document.getElementById('map'),
        defaultLayers.vector.normal.map, {
            center: {lat: 50, lng: 5},
            zoom: 4,
            pixelRatio: window.devicePixelRatio || 1
        });
    // add a resize listener to make sure that the map occupies the whole container
    window.addEventListener('resize', () => map.getViewPort().resize());

    //Step 3: make the map interactive
    // MapEvents enables the event system
    // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    // Create the default UI components
    var ui = H.ui.UI.createDefault(map, defaultLayers);

    // Now use the map as required...
    window.onload = function () {
        moveMapToBerlin(map);
    }

    var group = new H.map.Group();
    map.addObject(group);

</script>
</body>
<script src="static/main.js"></script>
</html>
